@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
html, body {
    background: #18243A;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background: #253141;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
    to bottom,
    rgba(37, 49, 55, 0.9) 0%,
    #253141 80%,
    #253141 100%
    ), url("https://i.ytimg.com/vi/GT6ushVNkGY/maxresdefault.jpg");
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;

}

header .left-menu .logo {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
header .left-menu .logo:hover {
    font-weight: 800;
}

header .left-menu .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

header .left-menu .menu a {
    color: rgba(255, 255, 255, 0.6);
    /*color: #9BA0AA;*/
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

header .left-menu .menu a:hover {
    color: rgba(255, 255, 255, 1);
}

header .left-menu {
    display: flex;
}

header .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .right-menu .language {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 0 60px 0 0;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
header .right-menu .language:hover {
    color: rgba(255, 255, 255, 1);
}
header .fa{
    margin-left: 10px;
}

header .right-menu .signin {
    text-transform: uppercase;
    padding: 15px 30px;
    width: 100%;
    background: #1277D2;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
header .right-menu .signin:hover {
    background: #4b9feb;

}

.container {
    width: 1400px;
    margin: 0 auto;

}

#featured {
    padding: 50px 0 0;
}

.section-title {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 30px;
}


#featured .videos-section {
    display: grid;
    grid-template-columns: 1fr 2fr 620px 2fr 1fr;
    grid-gap: 10px;
}

#featured .video {
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured .videos-section .video .image {
    width: 100%;
    height: 300px;
    background-image: url("https://i.ytimg.com/vi/ejB-_jF4fds/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#featured .videos-section .video.center .image {
    width: 100%;
    height: 349px;
    background-image: url("https://cdn1-www.comingsoon.net/assets/uploads/2019/08/jumanji.jpg");
    transform: scale(1.05);
    border: 2px solid #9BF1F9;

}

#featured .videos-section .video.center {
    background: red;
    width: 100%;
    height: 349px;

}

#featured .videos-section .video:nth-child(1) .image {
    position: relative;
}

#featured .videos-section .video:nth-child(5) {
    position: relative;
}

#featured .videos-section .video:nth-child(1) .arrow {
    height: 100%;
    position: absolute;
    color: #9BF1F9;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
#featured .videos-section .video:nth-child(1) .arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

#featured .videos-section .video:nth-child(5) .arrow {
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 4rem;
    color: #9BF1F9;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#featured .videos-section .video:nth-child(5) .arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

#featured .dots{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#featured .dots .circles{
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured .dots .circles .circle{
    /*margin: 0 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    /*height: 8px;*/
    /*background: white;*/
    /*border-radius: 50%;*/
    /*cursor: pointer;*/
}
#featured .dots .circles .circle .background{
    margin: 0 10px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#featured .dots .circles .circle:hover .background{
    width: 15px;
    height: 15px;
    background: #20BDF0;
    border-radius: 50%;
    cursor: pointer;
}
#featured .dots .circles .circle.active .background{
    width: 20px;
    height: 20px;
    background: #20BDF0;
    border-radius: 50%;
    box-shadow: gray;
    cursor: pointer;
}

#top-games .games{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    position: relative;
}


#top-games .games .game{
    background: url("https://i.ytimg.com/vi/_MPBs8abPnQ/maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    cursor: pointer;
}

#top-games .game .info{
    background: #293749;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    cursor: auto;
    transition: all 0.2s ease-in-out;
}

#top-games .game:hover .info{
    background: #414e5e;
}

#top-games .game .info .title{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#top-games .game .info .views{
    font-size: 1rem;
    font-weight: 400;
    color: #9FA4AE;
}

#top-games .game .info .views .fa{
    margin-right: 5px;
}

#top-games .games .game1{
    background: url("https://cdn2.unrealengine.com/Fortnite%2Fvideo-recap%2F08BR_Web_Wrap-Up_Landingpage-1920x1080-b8bb845212e05934128cfb80f9fab7d7cbbf205b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#top-games .games .game2{
    background: url("https://i.gadgets360cdn.com/large/paladins_1528381752318.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#top-games .games .game3{
    background: url("https://c1-ebgames.eb-cdn.com.au/merchandising/images/packshots/690971582b1a4675b0b274967899341c_Large.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#top-games .games .game4{
    background: url("https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F45dbd82f35906a6e22e728dfbf4be2ad%2F205795558%2Fdestiny2-ed.jpg&client=amp-blogside-v2&signature=7fdb16973276a47dc423db2116a413534927e98b");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#top-games .games .game5{
    background: url("https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_NewSuperMarioBrosUDeluxe_image1600w.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-games .games .game6{
    background: url("https://www.thesun.co.uk/wp-content/uploads/2017/12/nintchdbpict000003603919-e1512998700685.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}














